<div ng-cloak>
	<div class="row">
		<div class="col-md-12">
			<p>Thumbnail Generator Test</p>
		</div>
	</div>
	<button ng-click="vm.printImageList();">PRINT</button>
	<div class="row">
		<div class="col-md-6">
			<input type="text" ng-disabled="true" ng-model="vm.file.fileName"
				class="form-control" />
		</div>
		<div class="col-md-3">
			<button ng-click="vm.selectFiles(false);" class="btn btn-primary">UPLOAD
				SINGLE FILE</button>
		</div>
		<div class="col-md-3">
			<button ng-click="vm.selectFiles(true);" class="btn btn-primary">UPLOAD
				MULTIPLE FILE</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>Thumbnail Images</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" ng-repeat="image in vm.imageList">
			<div class="block-image-fixed">
				<img ng-src="{{image.thumbnailSrc}}" />
			</div>

		</div>
	</div>


</div>